h1,h2,h3,h4,h5,h6{
	font-family: europa, sans-serif;
}
h1,h3{
	font-weight: 700;
	font-style: normal;
}
h4,h5,h6{
	font-weight: 400;
	font-style: normal;
}
h1 strong{
	color: #3A99D7;
}
h2 strong{
	color: #084C61;
}
th, td{
	padding: 0.5em;
}
p{
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
}
em{
	text-align: center;
}
@media only screen and (min-width: 550px){
	.home{
		width: 100%;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url("../images/gates_background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media only screen and (max-width: 550px){
	.home{
		width: 100%;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/gates_background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.home h1 strong, .home p, .home h5, .home a{
	color: white;
}
.home .row{
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
}
.pageView{
	display: flex;
	align-items: center;
	justify-content: center;
}
.pageContainer{
	display: block;
	width: 100%;
}
.pageContainer.row {
	margin: 0;
}
a {
	color: black;
}
.titleCard{
	position: relative;
	width: 100%;
	height: 14em;
	margin: 0.5em;
	margin-bottom: 2em;
	color: #2F2F2F;
}
.titleCard h2,.titleCard h5{
	margin-bottom: 0rem;
	width: 100%;
}
.titleCard .background{
	position: absolute;
	background: white;
	z-index: -1;
	width: 14em;
	height: 14em;
}
.titleCard .titleContainer{
	position: absolute;
	height: 6em;
	top: 50%;
	margin-top: -3em;
	width: 50%;
}

.titleCard.left .titleContainer{
	left: 1em;
	text-align: left;
}
.titleCard.left .background{
	right: 0em;
	top: 0em;
}

.titleCard.right .titleContainer{
	right: 1em;
	text-align: right;
}
.titleCard.right .background{
	left: 0em;
	top: 0em;
}

.projects img{
	margin: auto;
}
.framer{
	display: block;
	transform: scale(0.45);
	transform-origin: top left;
	border: none;
	width: 550px;
	height: 675px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:75%;
    width:100%;
    position:absolute;
}
.framer-container{
	display: block;
	text-align: center;
	height: 350px;
	overflow: hidden;
	margin-bottom: 1em
}